* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /*renamed to semantic element instead of class */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 { /*condensed heading element */
    display: inline-block;
    font-size: 48px;
}

h2{ /*condensed heading element */
    margin-bottom: 20px;
    font-size: 36px;
}

h3 { /*condensed heading element */
    margin-bottom: 10px;
    text-align: center;
}

/* removed unnecessary "seo" class */

nav { /*renamed to semantic element instead of class */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removed unnecessary ul class */

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

figure { /* renamed class to semantic element */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside { /* renamed to semantic element instead of class */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.three-topics { /* simplified class title and condensed element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.three-topics img { /* simplified class title and condensed element */
    max-height: 200px;
}

.benefit-topic { /* condensed group of classes into one */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-topic img { /* condensed group of classes into one */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer { /* condensed footer section, renamed to be semantic */
    font-size: 20px;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}